{# templates/dashboard/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Tableau de Bord{% endblock %}

{% block body %}
    <h1>Tableau de Bord (Administrateur)</h1>

    
{% endblock %}
